.card-dashed{
    border: 1px dashed #000000;
}

.card-solid{
    border: 1px solid #000000;
}

.card-dotted{
    border: 1px dotted #000000;
}

.card{
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.flex-item-left {
    flex: 90%;
}

.flex-item-right {
    flex: 10%;
    text-align: right;
}

.text-wrapper-disabled {
    font-weight: bold;
    color: #8b8b8b;
}

.text-wrapper-enabled {
    font-weight: bold;
    color: #000000;
}