.card-dashed {
    border: 1px dashed #000000;
}

.card-solid {
    border: 1px solid #000000;
}

.card-dotted {
    border: 1px dotted #000000;
}

.card {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.box {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 0.01%);
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.box-container{
    display: flex;
    flex-direction: row;
}

.card-margin {
    margin: 10px;
    padding: 10px;
}

.flex-item-left {
    flex: 90%;
}

.flex-item-right {
    flex: 10%;
    text-align: right;
}

.text-wrapper-disabled {
    font-weight: bold;
    color: #8b8b8b;
}

.text-wrapper-enabled {
    font-weight: bold;
    color: #000000;
}

.nav-link {
    height: 100%;
}


@media (min-width: 768px) {
    .tabs {
        display: none;
    }
    .cards {
        display: flex;
    }
    .box {
        display: unset;
    }
}

.badge {
    margin-left: 20px;
    margin-right: 10px;
    background-color: #eaeaea;
    border-radius: 50%;
    box-shadow: 0px 4px 4px #00000040;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    .tabs {
        display: flex;
    }
    .cards {
        display: none;
    }
    .box {
        display: none;
    }
}
