.image{
    width: 50px;
    marginRight: 5px;
}

.badge {
    margin-left: 20px;
    margin-right: 10px;
    background-color: #eaeaea;
    border-radius: 50%;
    box-shadow: 0px 4px 4px #00000040;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-dashed {
    border: 1px dashed #000000;
}

.card-solid {
    border: 1px solid #000000;
}

.card-dotted {
    border: 1px dotted #000000;
}

.card {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px) {
    .cards {
        display: flex;
    }
}


@media (max-width: 768px) {
    .cards {
        display: none;
    }
}
